<div class="box-panel">
  <div class="box-panel-header jq-left-menu-db">
    <div class="box-tools">
      <ul class="unstyled-list view-tools box-tools-list">
        <li>
          <a href="#">
        <i class="material-icons icon-30" (click)="_toggleNabBar()">sort</i>
      </a>
        </li>
        <li>
          <a href="javascript:void(0)" data-toggle="dropdown">
        <i class="material-icons icon-30">more_horiz</i>
      </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a class="jq-sidebar-left-show" href="#">Hide Panel</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="box-panel-body no-apdding">
    <div class="navtreeHeight" id="navtree"></div>
  </div>
  <div class="box-panel-footer"></div>
</div>