<div class="box-panel">
  <div class="box-panel-header">
    <div class="box-panel-icon-lefmenushow">
      <a class="jq-sidebar-left-show" href="#">
    <i class="material-icons icon-30">sort</i>
  </a>
    </div>
    <div class="box-panel-icon-tablebarshow">
      <a class="jq-tablebar-show" href="#">
    <i class="material-icons icon-30">list</i>
  </a>
    </div>
    <div class="box-panel-header">
      <div class="box-tools">
        <ul class="unstyled-list view-tools box-tools-list"></ul>
        <ul class="unstyled-list main-tools box-tools-list">
          <li>
            <a href="#">
          <i class="material-icons icon-30">add</i>
        </a>
          </li>
          <li>
            <a href="#">
          <i class="material-icons icon-30">edit</i>
        </a>
          </li>
          <li>
            <a href="#">
          <i class="material-icons icon-30">delete</i>
        </a>
          </li>
          <li>
            <a href="javascript:void(0)" data-toggle="dropdown" class="jq-mn-morebtn">
          <i class="material-icons icon-30">more_horiz</i>
        </a>
            <ul class="dropdown-menu dropdown-panels" role="menu">


              <li>
                <a class="jq-hideall-panels" href="#">Hide all Panels</a>
              </li>
              <li>
                <a class="jq-hideleft-panels" href="#">Hide Left Panels</a>
              </li>
              <li>
                <a class="jq-hideright-panel" href="#">Hide Right Panel</a>
              </li>
              <li>
                <a class="jq-showall-panels" href="#">Show all</a>
              </li>

              <li>
                <a href="#">Other options</a>
              </li>

            </ul>
          </li>
        </ul>

      </div>
    </div>
    <div class="box-panel-icon-rightmenushow">
      <a class="jq-sidebar-right-show" href="#">
    <i class="material-icons icon-30">info_outline </i>
  </a>
    </div>
  </div>
  <div class="box-panel-body mn-ht-fl">

  </div>

</div>