<section class="main-block m-block-h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-4 col-md-4 jq-left-menu left-menu dp-flex">
       <app-home-navbar class="full-width"></app-home-navbar>
      </div>
      <div class="col-lg-5 col-md-5 jq-tablebar dp-flex">
        <app-home-tablebar class="full-width"></app-home-tablebar>
      </div>
      <div class="col-lg-10 col-md-19  dp-flex">
       <app-home-maincontent class="full-width div-2"></app-home-maincontent>
      </div>
      <div class="col-lg-5 col-md-5 jq-right-menu right-menu dp-flex">
        <app-home-rightbar class="full-width"></app-home-rightbar>
      </div>
    </div>
  </div>
</section>

