<div class="site-wrapper h-100">
  <div class="desktop-view h-100">
    <header class="header">
      <div class="container-fluid">
        <div class="main-header-div">
          <div class="user-account-block">
            <div class="media media-flex-align">
              <div class="mr-2">
                <a class="show-account" href="#">
                                        <img class="media-object img-circle rounded-circle" src="./images/user-img.png" alt="...">
                                    </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Albert Grob</h4>
                <span class="date">KW 40 Do. 12.01.2017 1800</span>
              </div>
            </div>
          </div>
          <div class="main-menu-block">
            <nav class="nav-main-menu">
              <ul class="unstyled-list nav-list">
                <li>
                  <a href="#">
                                            <i class="icon m-icon icon-dashboardo"></i>
                                            <span>Home</span>
                                        </a>
                </li>
                <li>
                  <a href="#" data-toggle="dropdown">
                                            <i class="icon m-icon icon-settingso"></i>
                                            <span>Settings</span>
                                        </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="right-menu-block">
            <nav class="right-header-menu">
              <ul class="unstyled-list nav-list">
                <li>
                  <a class="visible-hidden" href="#">
                                            <i class="material-icons">settings</i>
                                            <span>settings</span>
                                        </a>
                </li>
                <li>
                  <a class="nav-brand" href="#">
                                            <img class="img-logo-white" src="./images/scayla.svg" alt="logo">
                                        </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <section class="subheader-section subheader-section-flex">
      <div class="container-fluid">
        <div class="subheader">
          <div class="account-logo">
            <a href="javascript:void(0);">
              <img src="images/swisscom.png">
            </a>
          </div>
          <div class="subheader-btn-group">
            <ul class="unstyled-list filter-list">
              <li>
                <input class="btn-search" type="text" placeholder="Search">
              </li>
              <li>
                <div class="spinner-loader">
                  <img class="img-loader" src="./images/loader.svg" alt="loader">
                </div>
              </li>
              <li>
                <button class="btn btn-default btm-sm active mr-l0" type="button">Dashboard</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

<app-home></app-home>
  </div>
</div>

