<div class="box-panel">
  <div class="box-panel-header jq-tablebar-db">
    <div class="box-tools">
      <ul class="unstyled-list view-tools box-tools-list"></ul>
      <ul class="unstyled-list main-tools box-tools-list">
        <li>
          <a href="#">
        <i class="material-icons icon-30">filter_list</i>
      </a>
        </li>
        <li>
          <a href="#">
        <i class="material-icons icon-30">list</i>
      </a>
        </li>
        <li>
          <a href="javascript:void(0)" data-toggle="dropdown">
        <i class="material-icons icon-30">more_horiz</i>
      </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a class="jq-tablebar-show" href="#">Hide Panel</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="unstyled-list view-tools box-tools-list pull-right"></ul>
    </div>
  </div>
  <div class="box-panel-body">
    <div class="aggrid-table aggrid-full-height" id="mailList"></div>
  </div>

</div>