<div class="box-panel tab-content">
  <div class="box-panel-header jq-right-menu-db">
    <div class="box-tools nav nav-tabs">
      <ul class="unstyled-list view-tools box-tools-list">
        <li>
          <a href="#">
        <i class="material-icons icon-30">info_outline</i>
      </a>
        </li>
      </ul>

      <ul class="unstyled-list view-tools box-tools-list pull-right">
        <li>
          <a href="javascript:void(0)" data-toggle="dropdown">
        <i class="material-icons icon-30">more_horiz</i>
      </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a class="jq-sidebar-right-show" href="#">Hide Panel</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="box-panel-body metadata-ht" role="tabpanel">
    <!-- meta dara -->
  </div>


</div>